.header {
  display: flex;
  &__nav {
    display: flex;
  }

  &__logo {
    color: $accent-color;
    font-size: 26px;
    font-weight: 600;
  }
  &__span {
    color: $primary-text-color;
  }
  &__list {
    display: flex;

    margin-left: 93px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    font-weight: 500;
    &:hover {
      color: $accent-color;
    }
  }
}
