.benefits {
  margin-top: 94px;
  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__h {
    margin-bottom: 10px;

    font-weight: 700;
  }

  &__text {
    color: $secondary-text-color;
  }
}
